.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:global(.ant-layout-header) {
    padding: 0 2rem;
  }
}

.logo {
  color: #ffffff;
  font-size: 2rem;
  font-family: var(--secondary-font-family);
}

.menu {
  display: flex;
  justify-content: center;
}
